.formGroup{
    margin-bottom: 2rem;
}
.formGroup label{
    display: block;
    font-size: 0.7rem;
    font-weight: 400;
    color: #565657;
    margin-bottom: 0.5rem;
}
.formGroup input{
    display: block;
    padding: 15px ;
    width: 100%;
    border: none;
    border-radius: 5px;
    
}