.main{
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: auto;
}
.children{
    padding: 30px;
    /* background-color: red; */
    overflow-y: scroll;
    height: calc(100vh - 80px);
}
.container{
    min-height: 100vh;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 250px 1fr;
    font-family: 'Raleway',  sans-serif;  
    height: 100%; 
  
}